@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit</h1>
    <p>Va rugam sa ne contactati aici  <a href="https://docs.microsoft.com/aspnet/core">office@mail.ro</a>.</p>
</div>
